temporada_3/S03E03/todas_las_caras.json
[
    {
        "id": "1ee0d579.b9e77b",
        "type": "server-state-changed",
        "z": "619905db.8913ac",
        "name": "Caras del cubo",
        "server": "863a80ba.c8027",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.sensor_cubo_action_side",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 2580,
        "y": 4380,
        "wires": [
            [
                "a4f43408.7684e8"
            ]
        ]
    },
    {
        "id": "a4f43408.7684e8",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "None",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2770,
        "y": 4380,
        "wires": [
            [
                "7e9ad9af.aa4b78"
            ]
        ]
    },
    {
        "id": "7e9ad9af.aa4b78",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "",
        "property": "data.new_state.attributes.from_side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2930,
        "y": 4380,
        "wires": [
            [
                "bf68c3af.e5e23"
            ],
            [
                "7a2666b7.599978"
            ],
            [
                "211b9076.6e139"
            ],
            [
                "7913b444.e3ca6c"
            ],
            [
                "381a8cc0.ecef44"
            ],
            [
                "a91221d0.8d619"
            ]
        ]
    },
    {
        "id": "bf68c3af.e5e23",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "1 a ?",
        "property": "data.new_state.attributes.to_side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 3110,
        "y": 4080,
        "wires": [
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ]
        ]
    },
    {
        "id": "7a2666b7.599978",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "2 a ?",
        "property": "data.new_state.attributes.to_side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 3110,
        "y": 4200,
        "wires": [
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ]
        ]
    },
    {
        "id": "211b9076.6e139",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "3 a ?",
        "property": "data.new_state.attributes.to_side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 3110,
        "y": 4320,
        "wires": [
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ]
        ]
    },
    {
        "id": "7913b444.e3ca6c",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "4 a ?",
        "property": "data.new_state.attributes.to_side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 3110,
        "y": 4440,
        "wires": [
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ]
        ]
    },
    {
        "id": "381a8cc0.ecef44",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "5 a ?",
        "property": "data.new_state.attributes.to_side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 3110,
        "y": 4560,
        "wires": [
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ]
        ]
    },
    {
        "id": "a91221d0.8d619",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "6 a ?",
        "property": "data.new_state.attributes.to_side",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 3110,
        "y": 4680,
        "wires": [
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ],
            [
                "cfa4d635.c34d28"
            ]
        ]
    },
    {
        "id": "cfa4d635.c34d28",
        "type": "debug",
        "z": "619905db.8913ac",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3410,
        "y": 4380,
        "wires": []
    },
    {
        "id": "863a80ba.c8027",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]
