flows_suscriptores/S02E13/opcion_1.json
[
    {
        "id": "c537c1b5.7515b",
        "type": "bigtimer",
        "z": "619905db.8913ac",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Oscuridad - 23:00",
        "comment": "",
        "lat": "27.963759",
        "lon": "-15.578390",
        "starttime": 5001,
        "endtime": "1380",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": "-5",
        "endoff": "0",
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 470,
        "y": 300,
        "wires": [
            [],
            [
                "6539f372.ce38ec"
            ],
            []
        ]
    },
    {
        "id": "6539f372.ce38ec",
        "type": "switch",
        "z": "619905db.8913ac",
        "name": "⬆OFF/ ⬇ON  ",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 300,
        "wires": [
            [
                "cdb7130c.e0db3"
            ],
            [
                "d4296837.1b3d58"
            ]
        ]
    },
    {
        "id": "d4296837.1b3d58",
        "type": "api-call-service",
        "z": "619905db.8913ac",
        "name": "Encender",
        "server": "863a80ba.c8027",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.luz_doble_derecha_00_01_00_azotea_exterior",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 940,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "cdb7130c.e0db3",
        "type": "api-call-service",
        "z": "619905db.8913ac",
        "name": "Apagar",
        "server": "863a80ba.c8027",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.luz_doble_derecha_00_01_00_azotea_exterior",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 940,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "caf46864.d3b078",
        "type": "api-call-service",
        "z": "619905db.8913ac",
        "name": "Encender",
        "server": "863a80ba.c8027",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.luz_doble_derecha_00_01_00_azotea_exterior",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 780,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ab433bb6.ab0fa8",
        "type": "api-call-service",
        "z": "619905db.8913ac",
        "name": "Apagar",
        "server": "863a80ba.c8027",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_off",
        "entityId": "light.luz_doble_derecha_00_01_00_azotea_exterior",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 780,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "bfe3f7bc.e94538",
        "type": "inject",
        "z": "619905db.8913ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "caf46864.d3b078"
            ]
        ]
    },
    {
        "id": "fef9837.8ecce8",
        "type": "inject",
        "z": "619905db.8913ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "ab433bb6.ab0fa8"
            ]
        ]
    },
    {
        "id": "212bc29f.04956e",
        "type": "server-state-changed",
        "z": "619905db.8913ac",
        "name": "Estado",
        "server": "863a80ba.c8027",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.luz_doble_derecha_00_01_00_azotea_exterior",
        "entityidfiltertype": "exact",
        "outputinitially": true,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 580,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1ceda553.d1e7bb",
        "type": "comment",
        "z": "619905db.8913ac",
        "name": "Opción 1",
        "info": "Modificad Forzar a un valor más alto si queréis.\n",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "60bb7f20.6a5b5",
        "type": "inject",
        "z": "619905db.8913ac",
        "name": "Forzar en rango",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "c537c1b5.7515b"
            ]
        ]
    },
    {
        "id": "45fb30ec.33ce3",
        "type": "inject",
        "z": "619905db.8913ac",
        "name": "Forzar fuera de rango",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "c537c1b5.7515b"
            ]
        ]
    },
    {
        "id": "8ff8ab4.34afe58",
        "type": "inject",
        "z": "619905db.8913ac",
        "name": "Automático",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "c537c1b5.7515b"
            ]
        ]
    },
    {
        "id": "8d8a88c.af8ff78",
        "type": "inject",
        "z": "619905db.8913ac",
        "name": "Manual",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "manual",
        "payloadType": "str",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "c537c1b5.7515b"
            ]
        ]
    },
    {
        "id": "4d219e9a.c057c",
        "type": "inject",
        "z": "619905db.8913ac",
        "name": "Parar",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "c537c1b5.7515b"
            ]
        ]
    },
    {
        "id": "6005eda0.b3ae64",
        "type": "inject",
        "z": "619905db.8913ac",
        "d": true,
        "name": "Forzar",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sync",
        "payloadType": "str",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "c537c1b5.7515b"
            ]
        ]
    },
    {
        "id": "cb8b2548.f74338",
        "type": "comment",
        "z": "619905db.8913ac",
        "name": "Modificar",
        "info": "Modificad Forzar a un valor más alto si queréis.\n",
        "x": 200,
        "y": 480,
        "wires": []
    },
    {
        "id": "2f2cbe2a.06dbf2",
        "type": "comment",
        "z": "619905db.8913ac",
        "name": "Modificar",
        "info": "Dayend = Fin del día\nDawn = Amanecer\nDusk = Oscuridad\nSolarnoon = Mediodía\nSunrise = Amanecer\nSunset = Anochecer\nNight = Noche cerrada\nNightend = Fin de la noche\nMoonrise = Salida de la luna\nMoonset = Puesta de la luna\n",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "7e4c61b5.c241",
        "type": "comment",
        "z": "619905db.8913ac",
        "name": "Fuera de rango",
        "info": "Cambia el Entity ID por el identificador de tu entidad",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "76f317a8.f6b7b8",
        "type": "comment",
        "z": "619905db.8913ac",
        "name": "Modificar",
        "info": "Cambia el Entity ID por el identificador de tu entidad",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "d7b854c0.0c2d98",
        "type": "comment",
        "z": "619905db.8913ac",
        "name": "Dentro de rango",
        "info": "Cambia el Entity ID por el identificador de tu entidad",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "2b0946f2.f0b41a",
        "type": "comment",
        "z": "619905db.8913ac",
        "name": "Modificar",
        "info": "Cambia el Entity ID por el identificador de tu entidad",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "863a80ba.c8027",
        "type": "server",
        "name": "Home Assistant"
    }
]
