temporada_3/S03E19/captura.json
[
    {
        "id": "3f51d60a0c26355d",
        "type": "telegrambot-payload",
        "z": "94a983e1e0103e5d",
        "name": "",
        "bot": "",
        "chatId": "",
        "sendMethod": "",
        "payload": "",
        "x": 950,
        "y": 2160,
        "wires": [
            []
        ]
    },
    {
        "id": "64b76b4e82c07cb0",
        "type": "change",
        "z": "94a983e1e0103e5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "5000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://CAMBIARSUB.duckdns.org\" & $.data.attributes.entity_picture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2160,
        "wires": [
            [
                "664e7fc60e651cf5"
            ]
        ]
    },
    {
        "id": "664e7fc60e651cf5",
        "type": "change",
        "z": "94a983e1e0103e5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "sendPhoto",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "telegram.chat.id",
                "pt": "msg",
                "to": "CAMBIARID",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"photo\": $.url,\t   \"caption\": \"Luni (disparo único)\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2160,
        "wires": [
            [
                "89e85f9c3b40e403"
            ]
        ]
    },
    {
        "id": "89e85f9c3b40e403",
        "type": "json",
        "z": "94a983e1e0103e5d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 790,
        "y": 2160,
        "wires": [
            [
                "3f51d60a0c26355d"
            ]
        ]
    },
    {
        "id": "da16e747bacbfd9d",
        "type": "server-state-changed",
        "z": "94a983e1e0103e5d",
        "name": "Tomar foto",
        "server": "2e0f828a.d95dbe",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.camara_foto",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 2160,
        "wires": [
            [
                "605ed0237bcdd6b5",
                "4232cbf6.422454"
            ],
            []
        ]
    },
    {
        "id": "605ed0237bcdd6b5",
        "type": "delay",
        "z": "94a983e1e0103e5d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 300,
        "y": 2100,
        "wires": [
            [
                "e41beb7940f7a791"
            ]
        ]
    },
    {
        "id": "e41beb7940f7a791",
        "type": "api-call-service",
        "z": "94a983e1e0103e5d",
        "name": "Pasar a OFF",
        "server": "2e0f828a.d95dbe",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.camara_foto",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 470,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "48dfaa3df0829eb9",
        "type": "comment",
        "z": "94a983e1e0103e5d",
        "name": "Cambiar",
        "info": "Cambiar el Entity ID por el del input_boolean que has creado para controlar la posición de la cámara.",
        "x": 460,
        "y": 2060,
        "wires": []
    },
    {
        "id": "ad04ed751dd85827",
        "type": "comment",
        "z": "94a983e1e0103e5d",
        "name": "Cambiar",
        "info": "Cambiar el Entity ID por el del input_boolean que has creado para controlar la posición de la cámara.",
        "x": 120,
        "y": 2120,
        "wires": []
    },
    {
        "id": "4232cbf6.422454",
        "type": "api-current-state",
        "z": "94a983e1e0103e5d",
        "name": "token",
        "server": "863a80ba.c8027",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "camera.nombre_camara",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 290,
        "y": 2160,
        "wires": [
            [
                "64b76b4e82c07cb0"
            ]
        ]
    },
    {
        "id": "8f39c26a570e64b7",
        "type": "comment",
        "z": "94a983e1e0103e5d",
        "name": "Cambiar",
        "info": "Cambiar CAMBIARSUB por tu subdominio de DuckDNS",
        "x": 440,
        "y": 2200,
        "wires": []
    },
    {
        "id": "3c36d527c4d521eb",
        "type": "comment",
        "z": "94a983e1e0103e5d",
        "name": "Cambiar",
        "info": "Cambiar CAMBIARID por tu ID de Telegram.",
        "x": 620,
        "y": 2200,
        "wires": []
    },
    {
        "id": "2e0f828a.d95dbe",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": 30
    },
    {
        "id": "863a80ba.c8027",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30
    }
]
