temporada_3/S03E19/ptz.json
[
    {
        "id": "383918f90e44fe3f",
        "type": "server-state-changed",
        "z": "94a983e1e0103e5d",
        "name": "Posición XXX",
        "server": "863a80ba.c8027",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.camara_xxx",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 1880,
        "wires": [
            [
                "fe5e6c6151c909bd",
                "4798ad8d79f9ce7a"
            ],
            []
        ]
    },
    {
        "id": "4fad0f4dcb11ee2e",
        "type": "mqtt out",
        "z": "94a983e1e0103e5d",
        "name": "",
        "topic": "blueiris/admin",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "13022980b2c4d7e9",
        "x": 520,
        "y": 1880,
        "wires": []
    },
    {
        "id": "fe5e6c6151c909bd",
        "type": "change",
        "z": "94a983e1e0103e5d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "camera=CAMBIARCAM&preset=1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1880,
        "wires": [
            [
                "4fad0f4dcb11ee2e"
            ]
        ]
    },
    {
        "id": "4798ad8d79f9ce7a",
        "type": "delay",
        "z": "94a983e1e0103e5d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 1820,
        "wires": [
            [
                "e653aae526e5bc63"
            ]
        ]
    },
    {
        "id": "e653aae526e5bc63",
        "type": "api-call-service",
        "z": "94a983e1e0103e5d",
        "name": "Pasar a OFF",
        "server": "863a80ba.c8027",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.camara_xxx",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 470,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "f7712d0a15eac195",
        "type": "comment",
        "z": "94a983e1e0103e5d",
        "name": "Cambiar",
        "info": "Cambiar el Entity ID por el del input_boolean que has creado para controlar la posición de la cámara.",
        "x": 120,
        "y": 1840,
        "wires": []
    },
    {
        "id": "87b85eef12e68c7d",
        "type": "comment",
        "z": "94a983e1e0103e5d",
        "name": "Cambiar",
        "info": "Cambiar el Entity ID por el del input_boolean que has creado para controlar la posición de la cámara.",
        "x": 460,
        "y": 1780,
        "wires": []
    },
    {
        "id": "cda5953e5f852678",
        "type": "comment",
        "z": "94a983e1e0103e5d",
        "name": "Cambiar",
        "info": "Cambia CAMBIARCAM por el nombre corto que le has dado a la cámara en BlueIris.",
        "x": 300,
        "y": 1920,
        "wires": []
    },
    {
        "id": "863a80ba.c8027",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "13022980b2c4d7e9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.10",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
