S01E12/luces_al_despertar.json
[{"id":"676a10ba.f695f","type":"tab","label":"Luces al despertar","disabled":false,"info":""},{"id":"9ef536e4.dd29b8","type":"server-state-changed","z":"676a10ba.f695f","name":"Webhook recibido","server":"2e0f828a.d95dbe","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.luz_luces_al_amancer_50_dormitorio_principal_casa_grande","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":340,"wires":[["74a9bcbe.f82514"],["263b4aad.88f166"]]},{"id":"74a9bcbe.f82514","type":"api-current-state","z":"676a10ba.f695f","name":"¿Debo ejecutar el amanacer virtual?","server":"2e0f828a.d95dbe","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.luz_amanecer_virtual_50_despertador_virtual","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":430,"y":280,"wires":[["d1473e8e.7e554"],[]]},{"id":"d1473e8e.7e554","type":"api-call-service","z":"676a10ba.f695f","name":"Efecto amanecer","server":"2e0f828a.d95dbe","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_color2_04cf8cb0c13e, light.yeelight_color2_04cf8cb0e82e","data":"{\"effect\":\"Sunrise\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":280,"wires":[["e44a3575.fc0828"]]},{"id":"e44a3575.fc0828","type":"ha-wait-until","z":"676a10ba.f695f","name":"Esperar hasta...","server":"2e0f828a.d95dbe","outputs":2,"entityId":"input_boolean.luz_luces_al_amancer_50_dormitorio_principal_casa_grande","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"60","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":280,"wires":[["263b4aad.88f166"],["263b4aad.88f166"]]},{"id":"263b4aad.88f166","type":"api-call-service","z":"676a10ba.f695f","name":"Apagar","server":"2e0f828a.d95dbe","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_color2_04cf8cb0c13e, light.yeelight_color2_04cf8cb0e82e","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":340,"wires":[["14a0ee48.62df02"]]},{"id":"14a0ee48.62df02","type":"api-call-service","z":"676a10ba.f695f","name":"Desactivar luces","server":"2e0f828a.d95dbe","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.luz_luces_al_amancer_50_dormitorio_principal_casa_grande","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":340,"wires":[[]]},{"id":"2e0f828a.d95dbe","type":"server","z":"","name":"Home Assistant"}]